!!! 5
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="author" content="Mt.K")

    title My page

  body
    header
      
    article

    footer